.colums-tab {
  p {
    margin: 0;
  }
  .title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    margin-top: 26px;
  }
  .sub-title {
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 12px;
  }
  .cards-box {
    display: flex;
    .active {
      border: 1px solid #0768fd;
    }
    .card {
      margin-right: 48px;
      text-align: center;
      padding: 24px;

      .disable-card {
        color: #999999;
        cursor: default;
        opacity: 0.4;
        pointer-events: none;
        background-color: #f2f2f2;
      }

      .upload-box {
        margin-top: 24px;
        text-align: center;
        div {
          width: 100%;
        }
      }
      .center {
        margin-top: 100px;
      }
    }
  }
}

.tab {
  border: 1px solid #e9e9e9;
  background-color: #ffffff;
  padding: 16px;
}

label + div[class^="MuiInput-formControl"] {
  min-width: 200px;
}

.like-fixedbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  .ds-status {
    width: 232px;
    display: flex;
    align-items: center;
  }
}
.smallSize_autocomplete {
  width: 100%;
  input {
    height: 32px;
    font-size: 14px;
    line-height: 30px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}

.jdbc-form {
  .preview-table {
    margin-top: 20px;
  }
}

.vlc-table {
  max-width: calc(100vw - 40px);
}
.MuiDialog-paperWidthSm {
  max-width: 800px;
}

.vlc-modal {
  width: 726px;
  .vlc-title {
    font-size: 14px;
    line-height: 24px;
    color: #444444;
  }
  .vlc-data {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    font-weight: 600;
  }
  .first-row,
  .second-row {
    display: flex;
  }
  .first-row,
  .second-row,
  .third-row,
  forth-row {
    margin-bottom: 24px;
  }
  .first-row > div,
  .second-row > div {
    margin-right: 30px;
  }
}
.lov-modal {
  width: 340px;
  max-height: 600px;
  overflow: auto;
  .lov-quote {
    color: "#595959";
    font-size: 13px;
    line-height: 14px;
  }
  .lov-edit-mode {
  }
  .lov-view-mode {
    height: 272px;
    textarea {
      max-width: 320px;
      max-height: 400px;
      overflow: auto;
    }
  }
}
.lov-title {
  color: #444444;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding-bottom: 24px;
}
.lov-count {
  color: #595959;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.vertical-line {
  height: 100%;
  margin: 0% 50%;
  > div {
    border-left: 1px solid #d9d9d9;
    height: 100%;
  }
}
