.cardTopBar {
  display: block;
  .cardLeft {
    float: left;
    span {
      svg {
        height: 14px;
        width: auto;
        padding-right: 3px;
      }
      margin-right: 8px;
      font-size: 14px;
      line-height: 20px;
      padding: 0px 5px;
      background: rgba($color: #e20000, $alpha: 0.1);
      font-weight: 600;
      border-radius: 2px;
    }
    span.priority {
      background: rgba($color: #e20000, $alpha: 1);
      color: #ffffff;
    }
    height: 20px;
  }
  .cardRight {
    float: right;
    height: 20px;
    svg {
      height: 14px;
      width: auto;
    }
  }
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
}

.cardBottom {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .cardP {
      display: flex;
      flex-direction: column;
  }
  .cardPC {
    display: flex;
    flex-direction: column;
  }
}
