.cardTopBar {
  display: block;
  .cardLeft {
    float: left;
    span {
      svg {
        height: 14px;
        width: auto;
        padding-right: 3px;
      }
      margin-right: 8px;
      font-size: 14px;
      line-height: 20px;
      padding: 0px 5px;
      background: rgba($color: #e20000, $alpha: 0.1);
      font-weight: 600;
      border-radius: 2px;
      color: #e20000;
    }
    span.priority {
      background: rgba($color: #e20000, $alpha: 1);
      color: #ffffff;
    }
    height: 20px;
  }
  .cardRight {
    float: right;
    height: 20px;
    svg {
      height: 14px;
      width: auto;
    }
  }
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
}

.cardBottom {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  .cardP {
    display: flex;
    flex-direction: column;
  }
  .cardPC {
    display: flex;
    flex-direction: column;
  }
}

.dataflow-table {
  .active {
    background: #00c221;
  }
  .inActive {
    background: #999999;
  }

  div[class^="MuiPopover-root"] {
    div[class^="MuiMenu-paper"] {
      max-height: 178px;
    }
  }
}

.leftPanel {
  .no-data-found {
    padding: 20px;
    text-align: center;
  }
  .studies {
    overflow: auto;
    max-height: calc(100vh - 258px);
  }
}
.topContainer {
  padding-bottom: 20px;
}
.dashboardSummary {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 29px 0;
  .dashInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .conter-icon {
    height: 36px;
    width: 36px;
  }
  .dashInfoLabel {
    display: flex;
    align-items: center;
    margin-top: 15px;
    p {
      text-align: center;
    }
  }
  .dashCounter {
    display: flex;
    align-items: center;
    svg #issues {
      fill: #ffffff;
    }
    svg#stale path {
      fill: #ffffff;
    }
    svg.failureIcon path {
      fill: #ffffff;
    }
    h1 {
      margin-left: 5px;
    }
  }
}
.staleAlertStatus svg {
  width: 14px;
  height: 17px;
}
.failedStatus svg {
  width: 14px;
  height: 17px;
  path {
    fill: #ffffff;
  }
}
.queueStatus {
  background-color: transparent;
  border: 1px solid #9e54b0;
  color: #9e54b0;
  height: auto;
}
.MuiSwitch {
  span[class^="MuiButtonBase-"] {
    top: -8px;
  }
}
#actions {
  div[class*="MuiPopover-paper-"] {
    max-height: none !important;
  }
}
