.ingestion-issues {
  .content-wrapper {
    max-width: 100%;
    overflow: hidden;
    #rightSidebar {
      .header {
      }
    }
  }
  svg.black-icon {
    width: 20px;
    path {
      fill: #444444;
    }
    &.table-th {
      width: 12px;
      vertical-align: middle;
      margin-right: 6px;
      margin-top: -4px;
    }
  }
  #mainTable {
    margin-left: auto;
    padding: 22px;
    .v-line {
      height: 80px;
      width: 1px;
      background: #e9e9e9;
      display: inline-block;
      vertical-align: middle;
      margin-right: 10px;
    }
    .inline-checkbox {
      margin-right: 12px;
    }
    .rightpanel-link {
      padding: 0 10px;
      display: inline-block;
    }
  }
}
