.audit-logs-wrapper{
    .top-content{
        padding: 15px 35px;
        ol{
            padding: 0;
            margin-left: -8px;
            margin-bottom: 20px;
            margin-top: 6px;
        }
        .title{
            margin-bottom: 12px;
            img{
                margin-right: 10px;
            }
        }
    }
}