.audit-logs-wrapper{
    .top-content{
        padding: 15px 35px;
        ol{
            padding: 0;
            margin-left: -8px;
            margin-bottom: 20px;
            margin-top: 6px;
        }
        .title{
            margin-bottom: 12px;
            svg{
                margin-right: 10px;
            }
        }
    }
    tr{
        height: 0 !important;
    }
    tr[class*=" MuiTableRow-hover-"]{
        height: 48px !important;
    }
}