@import "./styles/customscroll.scss";
.App {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.link {
  cursor: pointer;
}
.flexWrap {
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
*[customtooltip] {
  position: relative;
}
label.inline-checkbox {
  flex-direction: row-reverse;
  align-items: center;
  .MuiSwitch-sizeSmall .MuiSwitch-switchBase {
    top: -8px;
    left: -8px;
  }
  > span:last-child {
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
}
*[customtooltip]:hover:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translateX(-50%);
  margin-left: 5px;
  border: 10px solid #000;
  border-color: transparent transparent black transparent;
  display: block;
}
*[customtooltip]:hover:before {
  content: attr(customtooltip);
  background-color: #000;
  color: #fff;
  font-size: 12px;
  top: 120%;
  z-index: 99;
  position: absolute;
  white-space: nowrap;
  border-radius: 4px;
  padding: 2px 4px;
  transform: translateX(-50%);
  left: 50%;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.b-font {
  font-weight: 600 !important;
}
.h-v-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.flex-column {
  flex-direction: column;
}
.no-shadow {
  box-shadow: none !important;
}
.left-align {
  align-items: flex-start;
}
* {
  box-sizing: border-box;
}
#topNavbar {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
  header div.MuiToolbar-regular {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.page-wrapper {
  background: #f6f7fb;
  min-height: 100vh;
  position: relative;
  padding-top: 56px;
}
label.table-checkbox {
  flex-direction: row-reverse;
  align-items: center;
  margin-left: -11px;
  span[class*="MuiSwitch-switchBase-"] {
    top: -8.5px;
    left: -8px;
  }
  span[class^="MuiSwitch-thumb-"] {
    color: #fff !important;
  }
  > span:last-child {
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
  :hover {
    span[class^="MuiSwitch-thumb-"] {
      color: rgba(236, 243, 255, 1) !important;
    }
  }
}
.navigation-panel {
  .waves {
    position: absolute;
    top: 0;
    width: 125px;
    right: 0;
    overflow: hidden;
    img {
      transform: scaleX(-1);
    }
  }
  .MuiDrawer-paper {
    & > button {
      display: none !important;
    }
    background: linear-gradient(to right, rgb(37, 0, 86), rgb(0, 118, 174));
    padding-top: 15px;
    border-right: 1px solid #fff;
    div[class^="Blade-body-"] {
      padding: 0 19px !important;
    }
    div[class^="Blade-expandPanel"] {
      display: none;
    }
    .Blade-body-8386 {
      padding: 0 15px !important;
    }
  }
  .link {
    color: #ffffff;
  }
  .close-panel {
    color: #ffffff;
    cursor: pointer;
    margin-left: 8px;
  }
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 400;
    img {
      width: 24px;
      opacity: 0.7;
      border-radius: 2px;
      background: #ffffff;
      margin-right: 8px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.24);
      img {
        opacity: 1;
      }
    }
  }
}
.scrollable-table {
  div[class*=" Table-scrollRoot-"] {
    @extend .customscroll;
  }
}
.customScrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

/* background of the scrollbar except button or resizer */
.customScrollbar::-webkit-scrollbar-track {
  background-color: #fff;
}

/* scrollbar itself */
.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 4px solid #fff;
}

/* set button(top and bottom of the scrollbar) */
.customScrollbar::-webkit-scrollbar-button {
  display: none;
}

.MuiSwitch > span:nth-child(1) {
  left: 11px;
}

.MuiSnackbar-anchorOriginTopCenter {
  top: 56px !important;
}
ul[class*="MuiMenu-list-"] {
  li:focus:not(:hover) {
    background: none;
  }
}

.pageRoot {
  display: flex;
  height: calc(100vh - 120px);
  box-sizing: content-box;
  max-width: 100vw;
}
.status-cell {
  color: #ffffff;
  padding: 2px 6px;
  width: fit-content;
}

.Message-Banner {
  z-index: 1100 !important;
}
.Message-Banner.top-56 {
  top: 56px !important;
}
.Message-Banner.top-0 {
  top: 0 !important;
}
#locationModal {
  z-index: 1350 !important;
  .MuiGrid-spacing-xs-2 > .MuiGrid-item {
    padding: 0 8px;
  }
  .MuiGrid-spacing-xs-2 #testConnectionButton {
    padding-top: 42px !important;
  }
}

input[readonly] {
  border: 0;
}
div.readOnly_Dropdown {
  div[class^="MuiSelect-root-"] {
    border: 0;
  }
  svg {
    display: none;
  }
}

.removeClickFromMenu .readOnly_Dropdown div[class^="MuiSelect-root-"], .removeClickFromMenu label {
  cursor: inherit;
  }
// .dsctablehelper_select
